<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Dashboard", suffix: " · Strong Compute" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/images/images/strong_compute_icon.png" class="strong_compute_logo">
          <img src={Routes.static_path(@conn, "/images/strong_compute_icon.png")} alt="Strong Compute Logo" width="180" height="180"/>
          <strong>Dashboard</strong><br />
        </a>
        <style>
        strong {
          color: #d1c7a7;
          text-indent: 300px;
          text-transform: uppercase;
          font-size: 300%;
          text-align: center;
          <%# margin-bottom: 1em; %>
          <%# d1c7a7 %>
        }
        </style>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
